# 1. FOR LOOPS

In [2]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [3]:
for i in my_list:
    print(i)

1
2
3

In [4]:
# you can do more than one task for every loop such as printing out 'Hello world' 
for i in my_list:
    print(i)
    print("Hello World")

1
Hello World
2
Hello World
3
Hello World

In [7]:
# List of strings
my_list = ["AAPL", "GOOG", "T", "TSLA", "SP500"]
my_list

['AAPL', 'GOOG', 'T', 'TSLA', 'SP500']

In [8]:
for i in my_list:
    print(i)

AAPL
GOOG
T
TSLA
SP500

In [9]:
# you can loop over a string as follows
for i in "TSLA":
    print(i)

T
S
L
A

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [11]:
# answer
for letter in "TSLATTALKFTTT":
    if "T" in letter:
        print("*")
    else:
        print(letter)

*
S
L
A
*
*
A
L
K
F
*
*
*

# 2. RANGE

In [ ]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [12]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [13]:
# Range of numbers from 1 to 20 with steps of 2
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [14]:
# reversed loop
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [16]:
# answer 1
for i in range(1, 100):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [29]:
# answer 2
min_num = int(input("Please, Enter the price (lower bound): "))
max_num = int(input("Please, Enter the price (upper bound): "))

for i in range(min_num, max_num):
    if i % 2 == 0:
        print(i)

Please, Enter the price (lower bound): 50
Please, Enter the price (upper bound): 100
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [28]:
# answer 1
for i in range(1, 11):
    first = i
    second = first * i
    third = second * i
    print(first, second, third)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

In [31]:
# answer 2 
for i in range(1, 11):
    print(f'{i} {i * i} {i * i * i}')

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

# 3. WHILE LOOPS

In [33]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.

i = 0

while i <= 15:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [40]:
# answer - use while loop
i = 1

while i <= 30:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [43]:
# answer - use for loop
for i in range(0, 30):
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [46]:
# answer
import random

keep_rolling = "y"

while keep_rolling == "y":
    print("Rolling the dice, Please wait!!")
    print("Rolling results for dice #1", random.randint(1, 6))
    print("Rolling results for dice #2", random.randint(1, 6))
    
    keep_rolling = input("Do you want roll again? ")

Rolling the dice, Please wait!!
Rolling results for dice #1 2
Rolling results for dice #2 2
Do you want roll again? y
Rolling the dice, Please wait!!
Rolling results for dice #1 3
Rolling results for dice #2 5
Do you want roll again? n

# 4. BREAK A LOOP

In [ ]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.

In [47]:
my_list = ["GOOG", "APPL", "T", "TSLA", "SP500"]

In [48]:
my_list

['GOOG', 'APPL', 'T', 'TSLA', 'SP500']

In [49]:
# print out all elements in the list
for i in my_list:
    print(i)

GOOG
APPL
T
TSLA
SP500

In [50]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected
for i in my_list:
    print(i)
    if i == "T":
        break

GOOG
APPL
T

In [51]:
# Print only odd elements and skip even numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in my_list:
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [55]:
# answer 
print("Keep entering numbers and I will display the average for you!")

avg = 0
n = 0

while True:
    x = input("Enter a Number: ")
    
    if x == "e":
        print("Input number over")
        break
    
    x = int(x)
    n = n + 1
    
    avg = ((avg * (n-1)) + x) / n
    print("the current average is ", avg)

Keep entering numbers and I will display the average for you!
Enter a Number: 2
the current average is  2.0
Enter a Number: 4
the current average is  3.0
Enter a Number: 6
the current average is  4.0
Enter a Number: e
Input number over

# 5. NESTED LOOPS

In [56]:
# Nested loops are loops that exist inside the body of another loop
for x in range(1, 4):                   # slow loop
    for y in range(1, 11):              # fast loop
        print(f"{x} X {y} = {x * y}")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [57]:
color_list = ["balck", "white", "gold"]
phone_list = ["iphone", "galaxy", "balckberry"]

for i in color_list:
    for j in phone_list:
        print(i, j)

balck iphone
balck galaxy
balck balckberry
white iphone
white galaxy
white balckberry
gold iphone
gold galaxy
gold balckberry

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [58]:
# answer 1
start_number = int(input("Please, enter a start number: "))
end_number = int(input("Please, enter a end number: "))

for i in range(start_number, end_number):
    for j in range(1, 11):
        print(f"{i} X {j} = {i * j}")

Please, enter a start number2
Please, enter a end number5
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [59]:
# answer 2
number = int(input("Please, enter a number between 1 and 9: "))

for x in range(1, number + 1):
    for y in range(1, 11):
        print(f"{x} X {y} = {x * y}")

Please, enter a number between 1 and 9: 3
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

# 6. LIST COMPREHENSION

In [ ]:
# List comprehension is an elegant tool to transform one list into another list. 
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.
# Let's take a look at the traditional way of taking a list and squaring its elements

In [ ]:
# List comprehension is a super powerful one line of code!

In [ ]:
# Let's square even numbers only 
# We need to insert a condition

In [ ]:
# All this could be done with one line of code as well using List Comprehension

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**