# 1. BUILT-IN FUNCTIONS

In [4]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y
x = [4, 5, 1, 2, 8, 5]
y = list(range(1, 7))

In [5]:
print(x)

[4, 5, 1, 2, 8, 5]

In [3]:
print(y)

[1, 2, 3, 4, 5, 6]

In [6]:
# Let's obtain the length of y
len(y)

6

In [7]:
# Let's obtain the minimum value 
min(x)

1

In [8]:
# Let's obtain the maximum value
max(x)

8

In [9]:
# Let's create a tuple out of the list
z = tuple(x)

In [10]:
print(z)

(4, 5, 1, 2, 8, 5)

In [11]:
type(z)

tuple

In [12]:
# Let's obtain the sum of elements in x
sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [15]:
# answer
x = [-1, -4, -7] 
y = [-3, 7, 4]

z = abs(sum(x + y))
z

4

# 2. FUNCTIONS

In [20]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything
def my_fucntion():
    print("Welcome to Python for Finance course!")

In [21]:
# Function call
my_fucntion()

Welcome to Python for Finance course!

In [24]:
# Define a function that takes in argument x and return the squared value 
def squared(x):
    return x ** 2

In [28]:
# Call the function
output = squared(8)
output

64

In [31]:
# Define a function with default value - 함수 초기값 정하기 
def my_fucntion(amount=0.0):
    print(f"My total portfolio worth is = {amount}")

In [34]:
# 인자를 넣지 않았을 경우 
output = my_fucntion()
output

My total portfolio worth is = 0.0

In [35]:
# If you pass an argument to the function, it overwrites the default value 
output = my_fucntion(4000)
output

My total portfolio worth is = 4000

In [36]:
# If you don't pass an argument, the default value "20000" will be used instead
def my_fucntion(amount=20000):
    print(f"My total portfolio worth is = {amount}")
    
output = my_fucntion()
output

My total portfolio worth is = 20000

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**
- **사용자로부터 개수와 가격을 입력 받아 경상수지 계산**
    - 경상수지는 경제적으로 항상 일어나는 일로 발생하는 수지타산

In [39]:
# answer
def total(units, price):
    amount = units * price
    return amount

In [41]:
# call function for total
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

account_balance = total(num_shares, price)
print(f"Total account balace = {account_balance}")

Enter the number of shares: 100
Enter the price per share: 3300
Total account balace = 330000

# 3. LAMBDA EXPRESSIONS 
- 람다 함수는 이름을 명명하지 않고도 활용할 수 있는 함수를 말한다. 
- 람다 함수는 filter와 Map과 함께 주로 활용된다.
- 람다 함수는 인자로 어떤 값도 받을 수 있지만 표현식은 하나만 가질 수 있다.

In [ ]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [44]:
# let's see how to create a basic function that squares the input
def my_function(x):
    return x ** 2

In [45]:
# Function call
my_function(3)

9

In [46]:
# We can do the same task using Lambda expression
# Note that there is no function name
y = lambda x : x ** 2      # 람다 함수로 x를 취하고 x의 제곱을 반환받고 그 반환된 값이 y가 된다.

In [47]:
y(3)

9

In [48]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed
def sumation(x, y, z):
    return x + y + z

In [50]:
result = sumation(1, 2, 3)
result

6

In [51]:
result = lambda x, y, z : x + y + z

In [52]:
result(1, 2, 3)

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [57]:
# answer
total_amount = lambda num_share, price: num_share * price

num_share = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

total_amount(num_share, price)

Enter the number of shares: 5
Enter the price per share: 3300

16500

# 4. MAP 
- map 함수는 함수와 리스트를 취한다. 
- map 함수는 리스트 전체에 대한 연산을 수행하며, 그 결과값으로 새로운 리스트를 반환한다
    - 일반 함수와 적용시 -> list(map(함수명, 인자))
    - 람다 함수 적용시 -> list(map(lambda x : 적용할 기능, 적용할 변수))

In [58]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b
a = [1, 4, 5, 6, 9]
b = [1, 7, 9, 12, 7]

In [59]:
# Let's define a function that adds two elements together
def sumation(a, b):
    return a + b

In [61]:
# You can now use map() to apply a function to the entire list and generate a new list
c = list(map(sumation, a, b))
c

[2, 11, 14, 18, 16]

In [63]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression
input_list = [1, 2, 3, 4]

out_list = list(map(lambda x : x ** 2, input_list))
out_list

[1, 4, 9, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [69]:
# answer - function
x = list(range(-10, 11))

def cubic(x):
    return x ** 3

out_list = list(map(cubic, x))
out_list

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000]

In [67]:
# answer - lambda
integer_list = list(range(-10, 11))

out_list = list(map(lambda x : x ** 3, integer_list))
out_list

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000]

In [70]:
# answer - otherway
def cubic(x):
    return x * x * x

numbers = list(range(-10, 11))

out_list = list(map(lambda x: cubic(x), numbers))
out_list

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000]

# 5. FILTER

In [71]:
# filter is used to create a list of elements for which a function returns "True".
price = [105, 5055, 40, 356, 923, 1443, 222, 62]
price

[105, 5055, 40, 356, 923, 1443, 222, 62]

In [74]:
# return only even numbers
out = list(filter(lambda x : (x % 2 == 0), price))
out

[40, 356, 222, 62]

In [75]:
# return only odd numbers
out = list(filter(lambda x : (x % 2 == 1), price))
out

[105, 5055, 923, 1443]

In [77]:
# Return prices that are greater than or equal 100
out = list(filter(lambda x : (100 <= x), price))
out

[105, 5055, 356, 923, 1443, 222]

In [78]:
# Return age between 200 and 250
out = list(filter(lambda x : (200 <= x and x <= 250), price))
out

[222]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [79]:
# answer - solution 1
price_list = [-20, -10, -100, 40, 600, 3000]

out_list = list(filter(lambda x : x >= 0 and (x % 2 == 0), price_list))
out_list

[40, 600, 3000]

In [80]:
# answer - solution 2
min_number = int(input("Enter a nuber (lower bound) *must be negative*: "))
max_number = int(input("Enter a nuber (upper bound): "))

numbers = range(min_number, max_number)

even_greather_than_zero = list(filter(lambda x : (x > 0 and x % 2 == 0), numbers))
even_greather_than_zero

Enter a nuber (lower bound) *must be negative*: -20
Enter a nuber (upper bound): 30

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]